.background-web{

    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

  .tree {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 800px;
  }

  .tree .links a {
    margin: 0.75em auto;
  }

  .tree .footer {
    margin: 2rem;
  }


  
  .footer{
      color: white;
      font-family: 'Grenze', serif;
  }

  .link-items{
    display: block;
    max-width: 550px;
    margin: 0 auto 15px;
    margin-bottom: 5px;
    padding: 15px 20px;
    font-size: 0.95remm;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: white;
    font-family: 'Grenze', serif;
    text-align: center;
    font-size: 20px;
}

.link-cover{
    border-radius: 25px;
    border: 2px solid white;
    background-color: #black;
}

.gambar{
    max-width: 100%;
    height: auto;
    z-index: 0;
    margin-left: ;
    margin-top: -230px;
    text-align: center;
}

.linknya{
    margin-top: -300;
    position: relative;
    z-index: 0;
}

#wrapper:hover .btn-white,
.btn-primary:active,.btn-primary.active,.btn-primary.disabled,
.btn-primary[disabled]{color:black; background-color:white;}
#wrapper:hover .btn{color:#DCDCDC;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
